<div class="panel">
    <p><img id="conferences-image" src="" Style="width: 72px; nargin: 5px;" align="left"/></p>
    <h2><span>#</span><span id="conferences-id"></span> - <span id="conferences-title"></span></h2>

    <a class="addmysel details hide" href="#" onclick="addToMyselection('conferences',jQuery('#conferences-id').text())"><img width="24" height="24" border="0" src="images/icons/gray-star.png"/> Add to myselection</a>
    <a class="delmysel details hide" href="#" onclick="addToMyselection('conferences',jQuery('#conferences-id').text(),true)"><img width="24" height="24" border="0" src="images/icons/yellow-star.png"/> Remove from myselection</a>
</div>
<div class="panel">
    <p id="conferences-description"></p>
</div>