<div class="panel">
    <p><img id="exhibitors-image" src="" Style="width: 72px; nargin: 5px;" align="left"/></p>
    <h2><span>#</span><span id="exhibitors-id"></span> - <span id="exhibitors-title"></span></h2>

    <a class="addmysel details hide" href="#" onclick="addToMyselection('exhibitors',jQuery('#exhibitors-id').text())"><img width="24" height="24" border="0" src="images/icons/gray-star.png"/> Add to myselection</a>
    <a class="delmysel details hide" href="#" onclick="addToMyselection('exhibitors',jQuery('#exhibitors-id').text(),true)"><img width="24" height="24" border="0" src="images/icons/yellow-star.png"/> Remove from myselection</a>
</div>
<div class="panel">
    <p id="exhibitors-description"></p>
</div>